body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
}

h1 {
    color: #4b8b3b;
    text-align: center;
}

form {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}

button {
    background-color: #4b8b3b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #357a36;
}
